@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kanit:wght@700;900&family=Mulish:wght@300;400;500;600;700&display=swap');


@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1,h2,h3,h4,h5,p{
font-family: "Mulish", sans-serif;
}
h1,h2,h3,h4,h5{
font-weight: 700;
}
p{
  font-weight:400;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.card-layout{
  @apply border-2 border-green-100 p-4 m-4 rounded-xl shadow-md flex;
}